html, body{font-family:georgia;}
.wrapper{
	height:100%;margin-top:auto;margin-bottom:auto;margin-left:auto;
	margin-right:auto;width:100%;max-width:1900px;
	/*border:1px solid green;*/
}
.right-col{
	height:96%;
	line-height:96%;
	vertical-align:middle;
	float:left;
	width:100%;
	/*border:1px dashed blue;*/
	text-align:center;
}
.main-nav {
	display:inline-block;
	vertical-align:middle;
	height:95%;
	line-height:80%;
	width:60%;
	/*border:1px solid orange;*/
	min-width:310px;
	text-align:center;
	overflow:hidden;
}
.main-nav span{width:100px;}
.main-nav img {width:25%;margin:1px;}
/* .main-logo{float:left;width:40%;height:100%;line-height:100%;vertical-align:middle;}
.main-logo img{vertical-align:middle;} */
footer{
	
	text-align:right;
	/*height:5%;width:100%;*/
	overflow:hidden;
	/*border:1px dashed olive;*/
	font-family:georgia;
	position:absolute;
	bottom:10px;right:5%;
}
.breadcrumbs{height:5%;}

.vertical-align-helper{height:100%;display:inline-block;vertical-align:middle;}

#section-project .slides{
	width:90%;height:100%;/*border:4px solid pink;*/
	margin-top:5%;margin-left:auto;margin-right:auto;
}
.section-right-content-wrapper {	width:75%;}
#pg-home .section-right-content-wrapper {width:100%;height:100%;}
.project-main, .section-right-content-wrapper{
	height:79%;float:left;
}
.project-main {
	background:rgba(255, 255, 255, 0.85) ;
	width:67%;margin-top:6%;margin-left:4%;margin-right:auto;
}
/*#section-project .project-desc{border:2px solid olive;}*/
#section-project{width:100%;background:url(../img/bg4.jpg) top right;}
.project-img{
	float:left;
	width:35%;
	height:auto;
	margin-left:0;
	margin-right:4%;
	/*border:1px dashed orange;*/
	overflow:hidden;
}
.project-img img {width:100%;height:auto;}
.project-detail{
	float:left;width:58%;height:60%;margin-left:0;
	/*border:1px solid green;*/
}
.project-detail li{margin-bottom:2%;}
.sidebar-wrapper{
	width:20%;height:80%;
	position:absolute;top:10%;right:5%;
}
.sidebar .fa {margin-right:5px;}
.sidebar{width:95%;float:right;}
.sidebar-wrapper .sidebar {overflow:visible;}
ul.dropdown-menu li a{ font-size:12px;}
#section-project .controlArrow.next {right:30%;}
#section-project .controlArrow.prev {left:5%;}

.sidebar-wrapper .sidebar .dropdown-menu li a {
	font-size:0.9em;padding-left:35px;
	padding-right:5px;
}
#pg-skills {width:100%;background: url('../img/bg1.jpg');}
.skill-visualization {
	width:90%;margin-right:auto;margin-left:auto;
	height:100%;overflow:hidden;
}
#skill-bars{height:48%;margin-bottom:3%;background:url('../img/light_wool.png');}
#skill-spiderweb {height:42%;margin-bottom:2%;background:url('../img/light_wool.png');}
.skill-scale{font-size:11px;color:#888;text-align:right;}
#fullpage {width:100%;}
#project-name li.active a {
	background-color: #1ba1e2;color:#fff;
}
.contact-methods {width:85%;margin-left:auto;margin-right:auto;}
.contact-methods .contact-method {
	margin-top:20px;color:#888;
}
#pg-contact {width:100%;background:url(../img/bg3.jpg);}
#pg-contact .contact-methods h2 {
	margin:30px auto 30px auto;text-align:center;
}
#frm-contact .input-control {margin-top:10px;}
#frm-contact .btn-submit {text-align:right;}
/*#pg-contact .frm-contact .email, 
#pg-contact .frm-contact .text { width:45%; }*/
.contact-methods .contact-col:first-child {float:left;width:60%;}
.contact-methods .contact-col:nth-child(2) {
	float:left;width:30%;background:rgba(255, 255, 255, 0.85);
	border:1px solid #ccc;padding-left:15px;padding-bottom:15px;
	border-radius:5px;
}
.contact-methods .contact-col:first-child {margin-right:8%;}
#frm-contact-email-sent {display:hidden;}
#pg-home {z-index:1;background:#fff;width:100%;}

#hrz-nav {
	/*border:none;background:transparent;box-shadow:none;*/
	width:100%;display:none;position:absolute;top:0;
	margin-right:auto;margin-left:auto;
	border:1px solid #ccc;background:rgba(255,255,255,0.8);
}
#hrz-nav .letter-n { width:50px;}
#hrz-nav .navbar-toggle {background:transparent;border:none;}
#hrz-nav .container .navbar-collapse {border:none;}

#pg-home .img-lg {width:100%;}
#pg-home .img-sm {display:none;}

@media screen and (min-width: 950px) and (max-width: 1100px) {
	.sidebar-wrapper .sidebar .dropdown-menu li a {font-size:0.7em;}
	.sidebar-wrapper > .sidebar > ul > li  {font-size:0.9em;}
}

@media screen and (max-width:949px) {
	.sidebar-wrapper {display:none;}
	#hrz-nav {display:initial;}
	#fullpage {width:100%;}
	#pg-home {width:100%;}
}

@media screen and (max-width:640px){
	.contact-methods .contact-col:first-child {width:100%;}
	.contact-methods .contact-col:nth-child(2){width:100%;}
	#section-project .controlArrow.next {right:2%;border-width:18.5px 0 18.5px 14px;}
	#section-project .controlArrow.prev {left:2%;border-width:18.5px 14px 18.5px 0;}
	.project-main .project-detail{
		font-size:1.2em;width:97%;height:40%;margin-left:auto;
		margin-right:auto;margin-top:10%;
	}
	.project-img {
		float:none;width:90%;height:20%;margin-right:auto;margin-left:auto;
	}
	.project-img img {width:100%;vertical-align:initial;}
	.project-main .text-warning {font-size:1.2em;}
	.project-main .project-title {font-size:1.5em;font-weight:bold;}
	#frm-contact-email-sent div {font-size:1.4em;margin-top:20%;margin:bottom:20%;}
	.skill-visualization {width:100%;}
	#pg-home .img-sm {display:initial;width:100%;margin-top:30%;}
	#pg-home .img-lg {display:none;}
	.project-main {width:91%;margin:20% auto auto 5%;}
	.project-main .tableCell {vertical-align:initial;}
	.section-right-content-wrapper {width:100%;}
	.skill-visualization #skill-bars text, 
	.skill-visualization #skill-spiderweb text {font-size:0.8em !important;}
	.skill-scale {margin-right:10px;}
	.contact-methods .contact-col:nth-child(2) {margin-top:25%;}
}

@media screen and (max-width:320px){
	#hrz-nav ul li a {font-size:0.9em;}
	.contact-methods .contact-col:nth-child(2) {margin-top:5%;}
	.section-right-content-wrapper {margin-top:13%;}
	/*.project-main .project-detail li{font-size:1em;line-height:1.5em;}*/
	.project-img {height:15%;}
	.project-main .project-title {font-size:1.4em;}
	.project-main {height:81%;}
}

